<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <app-card-tile [icon]="'all_inbox'" [styleClass]="'card-header-warning'">
            <p class="card-category">Total Applicants</p>
            <h3 class="card-title">{{totalApplicants$ | async}}
                <small></small>
            </h3>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">details</i>
                    <a href="javascript:;">View Details</a>
                </div>
            </div>
        </app-card-tile>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <app-card-tile [icon]="'fact_check'" [styleClass]="'card-header-info'">
            <p class="card-category">Shortlisted Candidates</p>
            <h3 class="card-title">94</h3>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">details</i>
                    <a href="javascript:;">View Details</a>
                </div>
            </div>
        </app-card-tile>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <app-card-tile [icon]="'check_box'" [styleClass]="'card-header-success'">
            <p class="card-category">Hired Candidates</p>
            <h3 class="card-title">75</h3>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">details</i>
                    <a href="javascript:;">View Details</a>
                </div>
            </div>
        </app-card-tile>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <app-card-tile [icon]="'cancel'" [styleClass]="'card-header-danger'">
            <p class="card-category">Rejected Candidates</p>
            <h3 class="card-title">+245</h3>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">details</i>
                    <a href="javascript:;">View Details</a>
                </div>
            </div>
        </app-card-tile>
    </div>
</div>