<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <app-card-tile [icon]="'content_copy'" [styleClass]="'card-header-warning'">
            <p class="card-category">Used Space</p>
            <h3 class="card-title">49/50
                <small>GB</small>
            </h3>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="javascript:;">Get More Space...</a>
                </div>
            </div>
        </app-card-tile>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <app-card-tile [icon]="'store'" [styleClass]="'card-header-success'">
            <p class="card-category">Revenue</p>
            <h3 class="card-title">$34,245</h3>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                </div>
            </div>
        </app-card-tile>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <app-card-tile [icon]="'info_outline'" [styleClass]="'card-header-danger'">
            <p class="card-category">Fixed Issues</p>
            <h3 class="card-title">75</h3>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                </div>
            </div>
        </app-card-tile>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <app-card-tile [icon]="'facebook'" [styleClass]="'card-header-info'">
            <p class="card-category">Followers</p>
            <h3 class="card-title">+245</h3>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                </div>
            </div>
        </app-card-tile>
    </div>
</div>