<div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/images/bg-texture.jpg">
    <div class="logo">
        <a [routerLink]="'/dashboard'" class="simple-text logo-normal">
           Angular Admin
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" *ngFor="let item of sideNavItems">
                <app-side-nav-tem [sideNavItem]="item"></app-side-nav-tem>
            </li>
        </ul>
    </div>
</div>